/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* Transition */

a,
.btn {
    transition: all 400ms ease;
}

/* Navigation */

nav,
.nav-links {
    display: flex;
    z-index: 1001;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background-color: #222;
    z-index: 1001;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
    text-decoration: underline;
}

.logo {
    font-size: 2rem;
    color: #fff;
}

/* Hamburger-Menue */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1001;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #111;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1001;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile Section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icon */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 3rem;
    color: #fff;
    background-color: #555;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #777;
}

/* About Section */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: #333;
    border-radius: 2rem;
    border: #aaa 0.1rem solid;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* Experience Section */

#experience {
    position: relative;
}

.experience-sub-title {
    color: #fff;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-top: 2rem;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(33.33% - 3rem); /* Adjust the width as needed */
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
    width: 3rem;
    height: 3rem;
}


/* Projects Section */

#projects {
    position: relative;
}

.color-container {
    border-color: #aaa;
    background: #333;
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin: 1rem;
    color: #fff;
}

.project-btn {
    color: #fff;
    border-color: #aaa;
}

/* Contact Section */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: #aaa 0.1rem solid;
    background: #333;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* Footer */

footer {
    height: 26vh;
    margin: 0 1rem;
    background-color: #222;
}

footer p {
    text-align: center;
    color: #ccc;
}

#profile {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section__pic-container,
.section__text {
    position: relative;
    z-index: 2;
}

.project-description {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
  }

  .project-icons {
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
  }

  .project-icons i {
    margin-right: 10px;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .html-icon {
    color: #e34c26;
  }

  .css-icon {
    color: #2965f1;
  }

  .js-icon {
    color: #f7df1e;
  }

  .project-icons i:hover {
    color: #000;
  }

  .project-icons i::after {
    content: attr(data-language);
    display: block;
    font-size: 12px;
    color: #666;
  }